.listNAVEmonBadge {

  width: 100pt;
  height: auto;
  border: 2px solid black;

}

.NAVEmonBadgeImage {

    width: 90%;

}

.semiTransparent {
  opacity: 0.5;
}

#monsterListContainer {

  width: 90%;
  display: flex;
  flex-wrap: wrap;

}

.battleResultContainer {
  display: flex;
}

.battleResultPanel {
width: 400pt;
text-align: center;
}

.battleOption {
margin: 8pt;
}

.battleOption:hover {
background-color: lightskyblue;
cursor: pointer;
}